html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
}

h1{
  padding-left: 25px;
  font-family: 'Monoton', cursive;
  font-size: 50px;
  padding-bottom: 40px;
  padding-top: 25px;
}

a{
  text-decoration: none;
  padding: 10px;
}

.component-wrap{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.info-button{
  background: transparent;
  position: fixed;
  left: 20px;
  cursor: pointer;
  margin-left: 2px;
  padding: 40px;
  padding-top: 33px;
  border: none;
  outline: none;
}
.play-button{
  background: transparent;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
  padding: 40px;
  position: fixed;
  right: 20px;
}

.play-button.view{
  top: 20px;
}

.synth-view-button{
  background: transparent;
  outline: none;
  border: none;
  position: fixed;
  margin-left: 40px;
  right: 20px;
  bottom: 30px;
  cursor: pointer;
}

.synth-container{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
	right: 30px;
  position: fixed;
  bottom: 20px;
  transition: all 1s ease;
}

.synth-holder-div{
	display: flex;
	flex-direction: row;
}


.synth-view{
  transition: all 1s ease;
  text-align: center;
}

.synth-view-close{
  padding-bottom: 20px;
  cursor: pointer;
	position: absolute;
}

.synth-help-button{
	text-align: right;
	cursor: pointer;
}

.fa-question{
	color: white;
}


.delay{
  padding-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.delay-text{
  padding-top: 10%;
  color: white;
  font-size: 18px;
}
.dial{
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 20px;
}

.dial div{
  margin-top: 10px;
  text-align: center;
  font-weight: lighter;
}

.synth-help{
	display: flex;
	flex-direction: row;
	max-width: 900px;
	color: white;
	font-size: 22px;
	line-height: 1.2;
	letter-spacing: 0.4;
}

.synth-help-text{
	width: 40%;
	margin-left: 5%;
}

.help-title{
	padding-bottom: 10px;
}
.help-text{
	font-size: 16px;
	font-weight: lighter;
	padding-bottom: 5%;
}
.keymap{
	height: 100px;
	width: 100%;
}

.close-synth-help{
	cursor: pointer;
	margin-left: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 10%
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(255,255,255,0.2);
    text-align: center;
}
.track-text{
	color: white;
	line-height: 1.2;
	letter-spacing: 0.25;
}

#track-artist{
	margin-top: 5px;
}
.music-player{
	bottom: 10px;
	left: 30px;
	width: 200px;
	position: fixed;
	display: flex;
	flex-direction: column;
}
.play-tap{
  background: transparent;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 30px;
}

/*#navigation-buttons{
	display: flex;
	justify-content: space-between;
}*/

#skip-back{
	padding-left: 20px;
}
#skip-forward{
	padding-right: 20px;
}


.trackSlide{
	width: 100%;
	height: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
}

.trackStatus{
	width: 0px;
	height: 10px;
	/*background: linear-gradient(to right, #FF00CC, #24BEE5);*/
	background: white;
	position: absolute;
	border-radius: 2px;
}

.trackLength{
	width: 100%;
	height: 100%;
	background: grey;
	position: relative;
	border-radius: 2px;
}

/* Modal Content */
.modal-content {
    position: fixed;
    top: 10%;
    left: 20%;
    background-color: rgba(255, 255, 255, 0.9);
    margin: auto;
    padding: 20px;
    width: 60%;
    color: black;
    border-radius: 5px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.description-text{
  padding:5px;
}
.guide-logo{
  padding-right: 20px;
}

.warning-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.warning-text{
  font-size: 14;
  padding-top: 10;
}

.about-div{
  padding-top: 30px;
}

.about-text{
  font-size: 12;
  padding-bottom: 10px;
}

ul{
  padding-top: 20px;
  padding-left: 25px;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 32%;
  padding-bottom: 10px;
}

button{
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

.cs-loader {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.cs-loader-inner {
  top: 50%;
  width: calc(100% - 200px);
  color: #FFF;
  padding: 30px 50px;
  text-align: center;
	display: flex;

}

.cs-loader-inner label {
  font-size: 20px;
  opacity: 0;
  display:flex;
	flex-direction: row;
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.cs-loader-inner label:nth-child(6) {
  -webkit-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}
